<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vocaber1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Vocaber1.Properties.Settings>
            <setting name="Languages" serializeAs="String">
                <value>[{"lang_name":"английский","lang_code":"en"},
{"lang_name":"русский","lang_code":"ru"},
{"lang_name":"азербайджанский","lang_code":"az"},
{"lang_name":"малаялам","lang_code":"ml"},
{"lang_name":"албанский","lang_code":"sq"},
{"lang_name":"мальтийский","lang_code":"mt"},
{"lang_name":"амхарский","lang_code":"am"},
{"lang_name":"македонский","lang_code":"mk"},
{"lang_name":"маори","lang_code":"mi"},
{"lang_name":"арабский","lang_code":"ar"},
{"lang_name":"маратхи","lang_code":"mr"},
{"lang_name":"армянский","lang_code":"hy"},
{"lang_name":"марийский","lang_code":"mhr"},
{"lang_name":"африкаанс","lang_code":"af"},
{"lang_name":"монгольский","lang_code":"mn"},
{"lang_name":"баскский","lang_code":"eu"},
{"lang_name":"немецкий","lang_code":"de"},
{"lang_name":"башкирский","lang_code":"ba"},
{"lang_name":"непальский","lang_code":"ne"},
{"lang_name":"белорусский","lang_code":"be"},
{"lang_name":"норвежский","lang_code":"no"},
{"lang_name":"бенгальский","lang_code":"bn"},
{"lang_name":"панджаби","lang_code":"pa"},
{"lang_name":"бирманский","lang_code":"my"},
{"lang_name":"папьяменто","lang_code":"pap"},
{"lang_name":"болгарский","lang_code":"bg"},
{"lang_name":"персидский","lang_code":"fa"},
{"lang_name":"боснийский","lang_code":"bs"},
{"lang_name":"польский","lang_code":"pl"},
{"lang_name":"валлийский","lang_code":"cy"},
{"lang_name":"португальский","lang_code":"pt"},
{"lang_name":"венгерский","lang_code":"hu"},
{"lang_name":"румынский","lang_code":"ro"},
{"lang_name":"вьетнамский","lang_code":"vi"},
{"lang_name":"гаитянский(креольский)","lang_code":"ht"},
{"lang_name":"себуанский","lang_code":"ceb"},
{"lang_name":"галисийский","lang_code":"gl"},
{"lang_name":"сербский","lang_code":"sr"},
{"lang_name":"голландский","lang_code":"nl"},
{"lang_name":"сингальский","lang_code":"si"},
{"lang_name":"горномарийский","lang_code":"mrj"},
{"lang_name":"словацкий","lang_code":"sk"},
{"lang_name":"греческий","lang_code":"el"},
{"lang_name":"словенский","lang_code":"sl"},
{"lang_name":"грузинский","lang_code":"ka"},
{"lang_name":"суахили","lang_code":"sw"},
{"lang_name":"гуджарати","lang_code":"gu"},
{"lang_name":"сунданский","lang_code":"su"},
{"lang_name":"датский","lang_code":"da"},
{"lang_name":"таджикский","lang_code":"tg"},
{"lang_name":"иврит","lang_code":"he"},
{"lang_name":"тайский","lang_code":"th"},
{"lang_name":"идиш","lang_code":"yi"},
{"lang_name":"тагальский","lang_code":"tl"},
{"lang_name":"индонезийский","lang_code":"id"},
{"lang_name":"тамильский","lang_code":"ta"},
{"lang_name":"ирландский","lang_code":"ga"},
{"lang_name":"татарский","lang_code":"tt"},
{"lang_name":"итальянский","lang_code":"it"},
{"lang_name":"телугу","lang_code":"te"},
{"lang_name":"исландский","lang_code":"is"},
{"lang_name":"турецкий","lang_code":"tr"},
{"lang_name":"испанский","lang_code":"es"},
{"lang_name":"удмуртский","lang_code":"udm"},
{"lang_name":"казахский","lang_code":"kk"},
{"lang_name":"узбекский","lang_code":"uz"},
{"lang_name":"каннада","lang_code":"kn"},
{"lang_name":"украинский","lang_code":"uk"},
{"lang_name":"каталанский","lang_code":"ca"},
{"lang_name":"урду","lang_code":"ur"},
{"lang_name":"киргизский","lang_code":"ky"},
{"lang_name":"финский","lang_code":"fi"},
{"lang_name":"китайский","lang_code":"zh"},
{"lang_name":"французский","lang_code":"fr"},
{"lang_name":"корейский","lang_code":"ko"},
{"lang_name":"хинди","lang_code":"hi"},
{"lang_name":"коса","lang_code":"xh"},
{"lang_name":"хорватский","lang_code":"hr"},
{"lang_name":"кхмерский","lang_code":"km"},
{"lang_name":"чешский","lang_code":"cs"},
{"lang_name":"лаосский","lang_code":"lo"},
{"lang_name":"шведский","lang_code":"sv"},
{"lang_name":"латынь","lang_code":"la"},
{"lang_name":"шотландский","lang_code":"gd"},
{"lang_name":"латышский","lang_code":"lv"},
{"lang_name":"эстонский","lang_code":"et"},
{"lang_name":"литовский","lang_code":"lt"},
{"lang_name":"эсперанто","lang_code":"eo"},
{"lang_name":"люксембургский","lang_code":"lb"},
{"lang_name":"яванский","lang_code":"jv"},
{"lang_name":"малагасийский","lang_code":"mg"},
{"lang_name":"японский","lang_code":"ja"},
{"lang_name":"малайский","lang_code":"ms"}]</value>
            </setting>
        </Vocaber1.Properties.Settings>
    </applicationSettings>
</configuration>